.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";

    grid-template-columns: auto auto;

    padding-left: 120px;
    padding-right: 120px;
}

.container2 {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";

    grid-template-columns: auto auto;

    padding-left: 120px;
    padding-right: 120px;
}

header {

    grid-area: header;
}

nav {
    grid-area: nav;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

main {
    grid-area: main;
    border: 2px solid black;
    padding-left: 100px;
    padding-right: 140px;
}

aside {
    grid-area: aside;
    border: 2px solid black;
    padding: 50px;
}

footer {
    grid-area: footer;
    border: 2px solid black;
    padding: 20px;
}

p {
    text-align: justify;
}

h1,
h2 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}

body {
    font-family: 'Roboto', sans-serif;
}